#access {
    .access {
        margin: 50px auto 0;
        max-width: 800px;
        @include medium {
            width: calc(100vw * 800 / 1200 * 0.9);
        }
        @include sp {
            margin-top: 30px;
            width: 100%;
        }
        &__txt {
            margin-top: 30px;
            line-height: 2;
            a {
                text-decoration: underline;
                &:hover {
                    color: $orange;
                }
            }
        }
    }
    @include sp {
        iframe {
            width: 100%;
            height: calc(100vw * 800 / 1200 * 0.9);
        }
    }

}