#access {
    .access {
        margin: 50px auto 0;
        max-width: 800px;
        &__txt {
            margin-top: 30px;
            line-height: 41px;
            a {
                transition: 0.3s;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}