#contact {
    table {
        float: none;
        margin: 50px auto 0;
        max-width: 800px;
        background-color: rgba(246, 173, 73, 0.2);
        border: solid 5px $blue;
        border-radius: 10px;
        border-collapse: separate;
        box-sizing: border-box;
        tr {
            th {
                padding: 20px 0;
                width: 200px;
                text-align: center;
                vertical-align: top;
            }
        }
    }
}