#single-topic {
    .topic {
        &__ttl {
            text-align: center;
            font-size: 48px;
            font-weight: bold;
            @include sp {
                font-size: 28px;
            }
            span {
                display: block;
                margin-top: 30px;
                text-align: right;
                font-weight: normal;
                @include medium {
                    margin-right: 5%;
                }
            }
        }
        &__photo {
            margin: 50px auto 0;
            max-width: 800px;
            @include medium {
                width: 90%;
            }
        }
    }
    .area {
        article {
            margin: 50px auto 0;
            max-width: 1000px;
            text-align: justify;
            @include medium {
                width: 90%;
            }
            p {
                margin-top: 30px;
                line-height: 2;
                @include sp {
                    line-height: 1.5;
                }
            }
        }
    }
}