#top {
    .fv {
        width: 100vw;
        img {
            height: calc(100vh - 200px);
            object-fit: cover;
        }
    }
    .top {
        padding: 70px 0 120px;
        margin: 0 auto;
        max-width: 1200px;
        &:last-child {
            padding-bottom: 70px;
        }
    }
    .result {
        padding: 30px 0;
        margin: 50px auto 0;
        width: 500px;
        background-color: #fff;
        border: solid 5px $blue;
        border-radius: 10px;
        &__ttl {
            color: $blue;
            text-align: center;
            font-size: 36px;
            span {
                display: block;
                margin-top: 50px;
                color: $blue;
                font-size: 36px;
            }
        }
        &__menu {
            margin-top: 50px;
        }
        &__list {
            margin-top: 30px;
            dl {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                margin: 0 auto;
                width: 300px;
            }
        }
    }
}

.slide-items {
    margin: 50px auto 0;
    width: 1000px!important;
    img {
        margin: 0 auto;
        width: 90%;
    }
}
.slick-arrow:before{
    content:""!important;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
}
.slick-next {
    right: -80px!important;
    display: block;
    width: 50px!important;
    height: 50px!important;
    &::before {
        background: url(../img/right_arrow.png)!important;
        background-size: 50px!important;    
    }
}
.slick-prev {
    left: -80px!important;
    display: block;
    width: 50px!important;
    height: 50px!important;
    &::before {
        background: url(../img/left_arrow.png)!important;
        background-size: 50px!important;    
    }
}