#top {
    margin-top: 200px;
    @include sp {
        margin-top: 100px;
    }
    .fv {
        width: 100vw;
        img {
            height: calc(100vh - 200px);
            object-fit: cover;
            @include sp {
                height: calc(100vh - 100px);
            }
        }
    }
    .silhouette {
        position: absolute;
        top: 70px;
        right: 0;
        width: 250px;
        @include sp {
            top: 60px;
            right: 20px;
            width: 100px;
        }
    }
    .area {
        padding: 70px 0 120px;
        margin: 0 auto;
        max-width: 1200px;
        &:last-child {
            padding-bottom: 70px;
        }
        @include medium {
            padding: 50px 0;
            width: 90%;
        }
    }
    .result {
        padding: 30px 0;
        margin: 50px auto 0;
        width: 500px;
        background-color: #fff;
        border: solid 5px $blue;
        border-radius: 10px;
        box-sizing: border-box;
        @include sp {
            padding: 20px 0;
            width: 100%;
        }
        &__ttl {
            color: $blue;
            text-align: center;
            font-size: 36px;
            font-weight: bold;
            @include sp {
                font-size: 24px;
            }
            span {
                display: block;
                margin-top: 50px;
                color: $blue;
                font-size: 30px;
                font-weight: bold;
                @include sp {
                    margin-top: 30px;
                    font-size: 20px;
                }    
            }
        }
        &__menu {
            margin-top: 50px;
            @include sp {
                margin-top: 30px;
            }
        }
        &__list {
            margin-top: 30px;
            dl {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                margin: 0 auto;
                width: 300px;
                @include sp {
                    width: 200px;
                }
            }
        }
    }
}

.slide-items {
    margin: 50px auto 0;
    max-width: 1000px;
    @include medium {
        width: 80%!important;
    }
    img {
        margin: 0 auto;
        width: 90%;
    }
}
.slick-arrow:before{
    content:""!important;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
}
.slick-next {
    right: -80px!important;
    display: block;
    width: 50px!important;
    height: 50px!important;
    &::before {
        background: url(../img/right_arrow.png)!important;
        background-size: 50px!important;
    }
    @include medium {
        right: -40px!important;
    }
    @include sp {
        width: 30px!important;
        height: 30px!important;
        &::before {
            background-size: 30px!important;
        }
    }
}
.slick-prev {
    left: -80px!important;
    display: block;
    width: 50px!important;
    height: 50px!important;
    &::before {
        background: url(../img/left_arrow.png)!important;
        background-size: 50px!important;    
    }
    @include medium {
        left: -40px!important;
    }
    @include sp {
        width: 30px!important;
        height: 30px!important;
        &::before {
            background-size: 30px!important;
        }
    }

}