.button {
    margin: 50px 0 0 auto;
    width: 200px;
    background-color: $orange;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
    @include sp {
        width: 150px;
    }
    &:hover {
        background-color: $blue;
    }
    &__link {
        display: inline-block;
        padding: 23px 0;
        width: 100%;
        color: $blue;
        font-weight: bold;
        transition: 0.3s;
        &:hover {
            color: $orange;
        }
    }
}