.pc-on {
    @include sp {
        display: none;
    }
}
.sp-on {
    display: none;
    @include sp {
        display: block;
    }
}
.wrap {
    background: linear-gradient(#fff, $rgbOrange);
}
.page {
    &--center {
        text-align: center;
    }
    &__ttl {
        display: inline-block;
        font-size: 48px;
        font-weight: bold;
        span {
            display: block;
            margin: 30px auto 0;
            width: 50px;
            height: 3px;
            background-color: $blue;
        }
    }
    &__sbttl {
        margin-top: 50px;
        color: $blue;
        font-size: 36px;
        font-weight: bold;
    }
}
.topic {
    &__list {
        margin-top: 50px;
    }
    &__link {
        display: inline-block;
        width: 500px;
        color: #333;
        time {
            font-size: 16px;
        }
        &:hover {
            opacity: 0.6;
        }
    }
    &__txt {
        display: block;
        margin-top: 30px;
        span {
            display: block;
            margin-top: 10px;
            width: 500px;
            height: 1px;
            background-color: #333;
        }
    }
}
.main {
    padding: 70px 0;
    margin: 0 auto;
    max-width: 1200px;
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
.member {
    &__ttl {
        margin-top: 50px;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
    }
    &__photo {
        float: left;
        margin-top: 50px;
        max-width: 500px;
    }
}
table {
    float: right;
    margin-top: 50px;
    max-width: 500px;
    tr {
        border-bottom: solid 1px #333;
        th {
            padding: 30px 0 10px;
            width: 120px;
            vertical-align:top;
            font-weight: bold;
        }
        td {
            display: block;
            padding: 30px 0 10px;
        }
        .table-first {
            padding-top: 0;
        }
    }
}