.pc-on {
    @include sp {
        display: none;
    }
}
.sp-on {
    display: none;
    @include sp {
        display: block;
    }
}
main {
    margin-top: 210px;
    @include sp {
        margin-top: 110px;
    }
}
.wrap {
    background: linear-gradient(#fff, $rgbOrange);
}
.page {
    &--center {
        text-align: center;
    }
    &__ttl {
        display: inline-block;
        font-size: 48px;
        font-weight: bold;
        span {
            display: block;
            margin: 30px auto 0;
            width: 50px;
            height: 3px;
            background-color: $blue;
        }
        @include sp {
            font-size: 28px;
        }
    }
    &__sbttl {
        margin-top: 50px;
        color: $blue;
        font-size: 36px;
        font-weight: bold;
        @include sp {
            margin-top: 30px;
            font-size: 24px;
        }
    }
}
.topic {
    &__list {
        margin-top: 50px;
    }
    &__link {
        display: inline-block;
        width: 500px;
        color: #333;
        @include sp {
            width: 300px;
        }
        time {
            font-size: 16px;
        }
        &:hover {
            opacity: 0.6;
        }
    }
    &__txt {
        display: block;
        margin-top: 30px;
        span {
            display: block;
            margin-top: 10px;
            width: 500px;
            height: 1px;
            background-color: #333;
            @include sp {
                width: 300px;
            }
        }
    }
}
.area {
    position: relative;
    padding: 70px 0;
    margin: 0 auto;
    max-width: 1200px;
    &::after {
        content: "";
        display: block;
        clear: both;
    }
    @include medium {
        padding: 50px 0;
        width: 90%;
    }
}
.member {
    &__ttl {
        margin-top: 50px;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        @include sp {
            margin-top: 30px;
            font-size: 24px;
        }
    }
    &__photo {
        float: left;
        margin-top: 50px;
        max-width: 500px;
        @include medium {
            width: calc(100vw * 500 / 1200 * 0.9);
        }
        @include sp {
            float: none;
            margin-top: 30px;
            width: 100%;
        }
    }
}
.profile {
    float: right;
    margin-top: 50px;
    max-width: 500px;
    @include medium {
        width: calc(100vw * 500 / 1200 * 0.9);
    }
    @include sp {
        float: none;
        margin-top: 30px;
        width: 100%;
    }
    &__row {
        border-bottom: solid 1px #333;
    }
    &__ttl {
        padding: 30px 0 10px;
        width: 120px;
        vertical-align:top;
        font-weight: bold;
        &--first {
            padding: 0 0 10px;
            font-weight: bold;
        }
    }
    &__txt {
        display: block;
        padding: 30px 0 10px;
        &--first {
            padding: 0 0 10px;
        }
    }

}