.footer {
    width: 100vw;
    background-color: $blue;
    &__box {
        padding: 30px 0;
        margin: 0 auto;
        max-width: 1180px;
        @include sp {
            width: 90%;
        }
    }
    &__ttl {
        font-family: shinryu, sans-serif;
        font-weight: 400;
        font-style: normal;
        a {
            color: #fff;
            font-size: 30px;
            &:hover {
                opacity: 0.6;
            }    
        }
    }
    &__nav {
        margin-top: 30px;
    }
    &__list {
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__link {
        color: #fff;
        font-size: 16px;
        &:hover {
            opacity: 0.6;
        }
    }
    &__txt {
        margin-top: 30px;
        text-align: center;
        small {
            color: #fff;
            font-size: 16px;
        }    
    }
}