.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 30px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    span {
        position: absolute;
        width: 40px;
        height: 1px;
        background: #333;
        border-radius: 10px;
        -webkit-transition: all 400ms;
        transition: all 400ms;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 14px;
        }
        &:nth-child(3) {
            top: 29px;
        }
    }
}
.hamburger.open {
    transform: rotate(180deg);
    span {
        width: 45px;
        &:nth-child(1) {
            top: 15px;
            transform: rotate(45deg);
        }
        &:nth-child(2) {
            display: none;
        }
        &:nth-child(3) {
            top: 15px;
            transform: rotate(-45deg);
        }
    }
}
.mask-on {
    z-index: -10000;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.mask-on.open {
    z-index: 10000;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}
.hamburger-on {
    display: none;
}
.hamburger-on.open {
    position: fixed;
    top: auto;
    right: auto;
    bottom: 25px;
    left: 50%;
    z-index: 100;
    display: flex;
    transform: translateX(-50%);
}
