.header {
    position: fixed;
    top: 0;
    z-index: 10000;
    padding: 15px 0 30px;
    width: 100vw;
    background-color: $orange;
    border: solid 10px $blue;
    box-sizing: border-box;
    @include sp {
        padding: 26px 0;
    }
    &__box {
        position: relative;
        margin: 0 auto;
        max-width: 1180px;
        @include medium {
            width: 90%;
        }
    }
    &__ttl {
        text-align: center;
        font-family: shinryu, sans-serif;
        font-weight: 400;
        font-style: normal;
        @include sp {
            text-align: left;
        }
    }
    &__link {
        color: $blue;
        font-size: 60px;
        &:hover {
            opacity: 0.6;
        }
        @include sp {
            font-size: 28px;
        }
    }
    &__nav {
        margin-top: 45px;
        @include sp {
            position: static;
            display: none;
        }
    } 
    &__menu {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
    }
    &__list {
        a {
            color: #fff;
            font-size: 30px;
            &:hover {
                color: $blue;
            }    
        }
    }
}
.icon {
    &__menu {
        position: absolute;
        top: 5px;
        right: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 200px;

 }
    &__list {
        width: 50px;
        @include sp {
            width: 30px;
        }
    }
}
.mask {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: rgba(32,47,85,0.7);
    &__nav {
        margin: 0 auto;
        width: 90%;
    }
    &__list {
        margin-top: 50px;
        a {
            color: #fff;
            font-size: 24px;
            &:hover {
                color: $orange;
            }
            img {
                display: inline-block;
                margin-right: 30px;
                width: 24px;
            }
        }
    }
}
.hamburger-on {
    position: fixed;
    top: auto;
    right: auto;
    bottom: 25px;
    left: 50%;
    z-index: 100;
    display: flex;
    transform: translateX(-50%);
}