@charset "UTF-8";
/*
============== index ===================
format
font
link
hack
=========================================
*/
/*****************************************
=1.reset
**************************************** */
body, div,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote,
th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var, figcaption {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd, th, td {
  font-weight: normal;
  color: #000000;
}

q:before, q:after {
  content: ‘’;
}

abbr, acronym {
  border: 0;
}

hr {
  display: none;
}

img {
  vertical-align: bottom;
  border: none;
}

caption {
  display: none;
}

legend {
  display: none;
}

label {
  cursor: pointer;
}

figure {
  padding: 0;
  margin: 0;
  border: 0;
}

/*****************************************
=2.modules
**************************************** */
.none {
  display: none;
}

/* float clear
---------------------------------------- */
.cL {
  clear: left;
}

.cR {
  clear: right;
}

.cB {
  clear: both;
}

/* float
---------------------------------------- */
.fL {
  float: left;
}

.fR {
  float: right;
}

/* align
---------------------------------------- */
.aL {
  text-align: left !important;
}

.aC {
  text-align: center !important;
}

.aR {
  text-align: right !important;
}

.fB {
  font-weight: bold;
}

.fS {
  font-size: 87%;
}

/* last list
---------------------------------------- */
.lastList {
  background: none !important;
  border: none !important;
  margin-right: 0 !important;
  padding-right: 0;
}

.lastList02 {
  border: none !important;
  margin-right: 0 !important;
  padding-right: 0;
}

.textBorderLine {
  text-decoration: underline;
}

.tA {
  color: #cc3333;
  font-weight: bold;
}

a.imgBtn:hover img {
  opacity: 0.70;
  filter: alpha(opacity=70);
}

.acList {
  position: relative;
  overflow: hidden;
}

.acList :after {
  content: "";
  clear: both;
  display: block;
}

.acList ul {
  position: relative;
  left: 50%;
  float: left;
}

.acList li {
  position: relative;
  left: -50%;
  float: left;
}

.bS {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*****************************************
=3.margin padding
**************************************** */
/* margin
---------------------------------------- */
.mT00 {
  margin-top: 0   !important;
}

.mT05 {
  margin-top: 5px !important;
}

.mT10 {
  margin-top: 10px !important;
}

.mT15 {
  margin-top: 15px !important;
}

.mT20 {
  margin-top: 20px !important;
}

.mT25 {
  margin-top: 25px !important;
}

.mT30 {
  margin-top: 30px !important;
}

.mT35 {
  margin-top: 35px !important;
}

.mT40 {
  margin-top: 40px !important;
}

.mT45 {
  margin-top: 45px !important;
}

.mT50 {
  margin-top: 50px !important;
}

.mR00 {
  margin-right: 0   !important;
}

.mR05 {
  margin-right: 5px !important;
}

.mR10 {
  margin-right: 10px !important;
}

.mR15 {
  margin-right: 15px !important;
}

.mR20 {
  margin-right: 20px !important;
}

.mR25 {
  margin-right: 25px !important;
}

.mR30 {
  margin-right: 30px !important;
}

.mR35 {
  margin-right: 35px !important;
}

.mR40 {
  margin-right: 40px !important;
}

.mR45 {
  margin-right: 45px !important;
}

.mR50 {
  margin-right: 50px !important;
}

.mB00 {
  margin-bottom: 0   !important;
}

.mB05 {
  margin-bottom: 5px !important;
}

.mB10 {
  margin-bottom: 10px !important;
}

.mB15 {
  margin-bottom: 15px !important;
}

.mB20 {
  margin-bottom: 20px !important;
}

.mB25 {
  margin-bottom: 25px !important;
}

.mB30 {
  margin-bottom: 30px !important;
}

.mB35 {
  margin-bottom: 35px !important;
}

.mB40 {
  margin-bottom: 40px !important;
}

.mB45 {
  margin-bottom: 45px !important;
}

.mB50 {
  margin-bottom: 50px !important;
}

.mB60 {
  margin-bottom: 60px !important;
}

.mL00 {
  margin-left: 0   !important;
}

.mL05 {
  margin-left: 5px !important;
}

.mL10 {
  margin-left: 10px !important;
}

.mL15 {
  margin-left: 15px !important;
}

.mL20 {
  margin-left: 20px !important;
}

.mL25 {
  margin-left: 25px !important;
}

.mL30 {
  margin-left: 30px !important;
}

.mL35 {
  margin-left: 35px !important;
}

.mL40 {
  margin-left: 40px !important;
}

.mL45 {
  margin-left: 45px !important;
}

.mL50 {
  margin-left: 50px !important;
}

/* padding
---------------------------------------- */
.pT00 {
  padding-top: 0   !important;
}

.pT05 {
  padding-top: 5px !important;
}

.pT10 {
  padding-top: 10px !important;
}

.pT15 {
  padding-top: 15px !important;
}

.pT20 {
  padding-top: 20px !important;
}

.pT25 {
  padding-top: 25px !important;
}

.pT30 {
  padding-top: 30px !important;
}

.pT35 {
  padding-top: 35px !important;
}

.pT40 {
  padding-top: 40px !important;
}

.pT45 {
  padding-top: 45px !important;
}

.pT50 {
  padding-top: 50px !important;
}

.pR00 {
  padding-right: 0   !important;
}

.pR05 {
  padding-right: 5px !important;
}

.pR10 {
  padding-right: 10px !important;
}

.pR15 {
  padding-right: 15px !important;
}

.pR20 {
  padding-right: 20px !important;
}

.pR25 {
  padding-right: 25px !important;
}

.pR30 {
  padding-right: 30px !important;
}

.pR35 {
  padding-right: 35px !important;
}

.pR40 {
  padding-right: 40px !important;
}

.pR45 {
  padding-right: 45px !important;
}

.pR50 {
  padding-right: 50px !important;
}

.pB00 {
  padding-bottom: 0   !important;
}

.pB05 {
  padding-bottom: 5px !important;
}

.pB10 {
  padding-bottom: 10px !important;
}

.pB15 {
  padding-bottom: 15px !important;
}

.pB20 {
  padding-bottom: 20px !important;
}

.pB25 {
  padding-bottom: 25px !important;
}

.pB30 {
  padding-bottom: 30px !important;
}

.pB35 {
  padding-bottom: 35px !important;
}

.pB40 {
  padding-bottom: 40px !important;
}

.pB45 {
  padding-bottom: 45px !important;
}

.pB50 {
  padding-bottom: 50px !important;
}

.pL00 {
  padding-left: 0   !important;
}

.pL05 {
  padding-left: 5px !important;
}

.pL10 {
  padding-left: 10px !important;
}

.pL15 {
  padding-left: 15px !important;
}

.pL20 {
  padding-left: 20px !important;
}

.pL25 {
  padding-left: 25px !important;
}

.pL30 {
  padding-left: 30px !important;
}

.pL35 {
  padding-left: 35px !important;
}

.pL40 {
  padding-left: 40px !important;
}

.pL45 {
  padding-left: 45px !important;
}

.pL50 {
  padding-left: 50px !important;
}

/*****************************************
=4.hack
**************************************** */
div {
  zoom: 1;
  /*for IE 5.5-7*/
}

.clearfix:after {
  content: “”;
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
/* IE6 */
* html .clearfix {
  zoom: 1;
}

/* IE7 */
*:first-child + html .clearfix {
  zoom: 1;
}

/*****************************************
=5.font
**************************************** */
p, li, dt, dd, th, td, figcaption {
  font-family: “ヒラギノ角ゴ Pro W3”,“メイリオ“,”Meiryo”,“ＭＳ Ｐゴシック“,”Hiragino Kaku Gothic Pro”,sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5 {
  clear: both;
  font-family: “ヒラギノ角ゴ Pro W3”,“メイリオ“,”Meiryo”,“ＭＳ Ｐゴシック“,”Hiragino Kaku Gothic Pro”,sans-serif;
}

/*メインカラーオレンジ*/
/*サブカラー紺*/
/*rgbaでのオレンジ表記*/
/*ボディの背景色の透明度*/
* {
  font-size: 24px;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  * {
    font-size: 16px;
  }
}

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img {
  display: block;
  width: 100%;
}

.header {
  padding: 15px 0 30px;
  width: 100vw;
  background-color: #F6AD49;
  border: solid 10px #202F55;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__box {
  position: relative;
  margin: 0 auto;
  max-width: 1180px;
}

.header__ttl {
  text-align: center;
  font-family: shinryu, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header__link {
  color: #202F55;
  font-size: 60px;
}

.header__link:hover {
  opacity: 0.6;
}

.header__nav {
  margin-top: 45px;
}

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__list a {
  color: #fff;
  font-size: 30px;
}

.header__list a:hover {
  color: #202F55;
}

.icon__menu {
  position: absolute;
  top: 5px;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
}

.icon__list {
  width: 50px;
}

.footer {
  width: 100vw;
  background-color: #202F55;
}

.footer__box {
  padding: 30px 0;
  margin: 0 auto;
  max-width: 1180px;
}

.footer__ttl {
  font-family: shinryu, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer__ttl a {
  color: #fff;
  font-size: 30px;
}

.footer__ttl a:hover {
  opacity: 0.6;
}

.footer__nav {
  margin-top: 30px;
}

.footer__list {
  margin-top: 20px;
}

.footer__list:first-child {
  margin-top: 0;
}

.footer__link {
  color: #fff;
  font-size: 16px;
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__txt {
  margin-top: 30px;
  text-align: center;
}

.footer__txt small {
  color: #fff;
  font-size: 16px;
}

.button {
  margin: 50px 0 0 auto;
  width: 200px;
  background-color: #F6AD49;
  text-align: center;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background-color: #202F55;
}

.button__link {
  display: inline-block;
  padding: 23px 0;
  width: 100%;
  color: #202F55;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button__link:hover {
  color: #F6AD49;
}

.breadcrumb__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 10px auto 0;
  max-width: 1200px;
}

.breadcrumb__list {
  margin-right: 8px;
  font-size: 16px;
}

.breadcrumb__list a {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .pc-on {
    display: none;
  }
}

.sp-on {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp-on {
    display: block;
  }
}

.wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgba(246, 173, 73, 0.2)));
  background: -webkit-linear-gradient(#fff, rgba(246, 173, 73, 0.2));
  background: linear-gradient(#fff, rgba(246, 173, 73, 0.2));
}

.page--center {
  text-align: center;
}

.page__ttl {
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
}

.page__ttl span {
  display: block;
  margin: 30px auto 0;
  width: 50px;
  height: 3px;
  background-color: #202F55;
}

.page__sbttl {
  margin-top: 50px;
  color: #202F55;
  font-size: 36px;
  font-weight: bold;
}

.topic__list {
  margin-top: 50px;
}

.topic__link {
  display: inline-block;
  width: 500px;
  color: #333;
}

.topic__link time {
  font-size: 16px;
}

.topic__link:hover {
  opacity: 0.6;
}

.topic__txt {
  display: block;
  margin-top: 30px;
}

.topic__txt span {
  display: block;
  margin-top: 10px;
  width: 500px;
  height: 1px;
  background-color: #333;
}

.area {
  padding: 70px 0;
  margin: 0 auto;
  max-width: 1200px;
}

.area::after {
  content: "";
  display: block;
  clear: both;
}

.member__ttl {
  margin-top: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.member__photo {
  float: left;
  margin-top: 50px;
  max-width: 500px;
}

.profile {
  float: right;
  margin-top: 50px;
  max-width: 500px;
}

.profile__row {
  border-bottom: solid 1px #333;
}

.profile__ttl {
  padding: 30px 0 10px;
  width: 120px;
  vertical-align: top;
  font-weight: bold;
}

.profile__ttl--first {
  padding: 0 0 10px;
  font-weight: bold;
}

.profile__txt {
  display: block;
  padding: 30px 0 10px;
}

.profile__txt--first {
  padding: 0 0 10px;
}

#top .fv {
  width: 100vw;
}

#top .fv img {
  height: calc(100vh - 200px);
  -o-object-fit: cover;
     object-fit: cover;
}

#top .area {
  padding: 70px 0 120px;
  margin: 0 auto;
  max-width: 1200px;
}

#top .area:last-child {
  padding-bottom: 70px;
}

#top .result {
  padding: 30px 0;
  margin: 50px auto 0;
  width: 500px;
  background-color: #fff;
  border: solid 5px #202F55;
  border-radius: 10px;
}

#top .result__ttl {
  color: #202F55;
  text-align: center;
  font-size: 36px;
}

#top .result__ttl span {
  display: block;
  margin-top: 50px;
  color: #202F55;
  font-size: 30px;
}

#top .result__menu {
  margin-top: 50px;
}

#top .result__list {
  margin-top: 30px;
}

#top .result__list dl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 300px;
}

.slide-items {
  margin: 50px auto 0;
  width: 1000px !important;
}

.slide-items img {
  margin: 0 auto;
  width: 90%;
}

.slick-arrow:before {
  content: "" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.slick-next {
  right: -80px !important;
  display: block;
  width: 50px !important;
  height: 50px !important;
}

.slick-next::before {
  background: url(../img/right_arrow.png) !important;
  background-size: 50px !important;
}

.slick-prev {
  left: -80px !important;
  display: block;
  width: 50px !important;
  height: 50px !important;
}

.slick-prev::before {
  background: url(../img/left_arrow.png) !important;
  background-size: 50px !important;
}

#single-topic .topic__ttl {
  text-align: center;
  font-size: 48px;
}

#single-topic .topic__ttl span {
  display: block;
  margin-top: 30px;
  text-align: right;
}

#single-topic .topic__photo {
  margin: 50px auto 0;
  width: 800px;
}

#single-topic .area article {
  margin: 50px auto 0;
  width: 1000px;
  text-align: justify;
}

#single-topic .area article p {
  margin-top: 30px;
}

#result .result__menu {
  padding: 20px;
  margin: 30px auto 0;
  width: 500px;
  background-color: rgba(246, 173, 73, 0.2);
  border: solid 5px #202F55;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#result .result__menu::after {
  content: "";
  display: block;
  clear: both;
}

#result .result__list {
  margin-top: 30px;
}

#result .result__list:nth-child(-n+2) {
  margin: 0;
}

#result .result__list:nth-child(1), #result .result__list:nth-child(3), #result .result__list:nth-child(5), #result .result__list:nth-child(6) {
  float: left;
  clear: left;
}

#result .result__list:nth-child(2), #result .result__list:nth-child(4), #result .result__list:nth-child(7) {
  float: right;
}

#result .result__list a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#result .result__list a:hover {
  color: #F6AD49;
}

#member .member__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

#member .member__list {
  margin: 50px calc(200px / 3) 0 0;
  width: 250px;
}

#member .member__list:nth-child(4n) {
  margin-right: 0;
}

#member .member__list a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#member .member__list a:hover {
  opacity: 0.6;
}

#member .member__name {
  margin-top: 30px;
  text-align: center;
}

#access .access {
  margin: 50px auto 0;
  max-width: 800px;
}

#access .access__txt {
  margin-top: 30px;
  line-height: 41px;
}

#access .access__txt a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#access .access__txt a:hover {
  opacity: 0.6;
}

#contact table {
  float: none;
  margin: 50px auto 0;
  max-width: 800px;
  background-color: rgba(246, 173, 73, 0.2);
  border: solid 5px #202F55;
  border-radius: 10px;
  border-collapse: separate;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact table tr {
  border: none;
}

#contact table tr th {
  padding: 20px 0;
  width: 200px;
  border-right: solid 5px #202F55;
  border-bottom: solid 5px #202F55;
  text-align: center;
  vertical-align: top;
}

#contact table tr td {
  padding: 20px;
  border-bottom: solid 5px #202F55;
}

#contact table tr:last-of-type th {
  border-bottom: none;
}

#contact table tr:last-of-type td {
  height: 350px;
  border-bottom: none;
}

#contact .button {
  margin: 50px auto 0;
}
/*# sourceMappingURL=style.css.map */